.point-container {
    position: absolute;
    cursor: pointer;
}

.pinpoint {
    width: 60px;
    height: 60px;
    padding: 18px 0 0 15px;
    color: #000;
    font-size: 14px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    -webkit-animation: bounce 1.5s infinite;
    -moz-animation: bounce 1.5s infinite;
    transition: all 0.3s ease-in-out;
}

.pinpoint:hover {
    transform: scale(1.1);
}


#wi {
    margin: 10px 0 0 350px;
}

#ca {
    margin: 130px 0 0 30px;
}

#tx {
    margin: 200px 0 0 230px;
}

#nc {
    margin: 140px 0 0 490px;
}

@-moz-keyframes bounce {

    0%,
    100% {
        margin: 30px 0 0 0;
    }

    50% {
        margin: 50px 0 0 0;
    }
}


@-webkit-keyframes bounce {

    0%,
    100% {
        margin: 30px 0 0 0;
    }

    50% {
        margin: 50px 0 0 0;
    }
}