@import "https://unpkg.com/transition-style";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.social_icon_button {
  border-radius: 50%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  transition: all 0.3s ease-in-out;
}

.social_icon_button:hover {
  background-color: #111 !important;
}

.grid_5050 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.header_item:hover {
  border-bottom: 2px solid #fff;
}

.black {
  color: #111;
}

/* SECTIONS */
section {
  padding: 8rem 0;
  margin: 0;
}

/* BUTTONS */
.btn_dropdown {
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  border: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 100;
}

.btn_dropdown:hover {
  border: 1px solid #cecece;
  background-color: #cecece;
}

.btn_white {
  width: 200px;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #181818;
  box-shadow: 0 0 0 0 #181818;
}

.btn_white:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 2px 0 #181818;
}

.btn_white:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #181818;
}

.flex_cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: #6C5CE7;
}

.yellow {
  color: #ffaf25;
}

.blue {
  color: #0057D9;
}

.container {
  padding: 0 5rem;
}

.textW50 {
  width: 50%;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 2rem !important;
  }

  h1 {
    font-size: 72px !important;
  }

  h2 {
    font-size: 48px !important;
  }

  h3 {
    font-size: 30px !important;
  }

  .textW50 {
    width: 100%;
  }

}

.pink {
  color: #ED6B6C;
}

.btn_transparent {
  width: 240px;
  background-color: transparent;
  border-radius: 50px;
  padding: 1.2em 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #4B4B4B;
  box-shadow: 0 0 0 0 #181818;
  z-index: 100000;
}

.btn_transparent_full {
  width: 100%;
  background-color: transparent;
  border-radius: 14px;
  padding: 1.1em 2em;
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease-in-out;
  border: 1px solid #fff;
  box-shadow: 0 0 0 0 #111;
}

.btn_transparent:hover,
.btn_transparent_full:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 2px 0 #111;
}

.btn_transparent:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #111;
}


/* RENDER ANIMATION */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 10s;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 10s;
}

/* btn svg */
.button_svg {
  font-size: 14px;
  width: 200px;
  height: 52px;
  background: #111;
  color: #fff;
  padding: 1rem 2rem;
  padding-left: 1.8rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 80px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
}

.button_svg span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
  color: #fff;
  font-weight: 600;
}

.button_svg svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.button_svg:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.button_svg:hover svg {
  transform: translateX(4.5em) rotate(45deg) scale(1.1);
}

.button_svg:hover span {
  transform: translateX(12em);
}

.button_svg:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}


/* BUTTON 3D */
.button_3d {
  transition: all 0.5s;
  font-size: 17px;
  padding: 1ch 2ch;
  background-color: #FBBB38;
  color: #000;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 2px;
  box-shadow: 2px 2px 0px hsl(0, 0%, 90%),
    4px 4px 0px hsl(0, 0%, 80%),
    6px 6px 0px hsl(0, 0%, 70%),
    8px 8px 0px hsl(0, 0%, 60%),
    10px 10px 0px hsl(0, 0%, 50%),
    12px 12px 0px hsl(0, 0%, 40%),
    14px 14px 0px hsl(0, 0%, 30%),
    16px 16px 0px hsl(0, 0%, 20%),
    18px 18px 0px hsl(0, 0%, 10%);
}

.button_3d:hover {
  background-color: hsl(0, 0%, 50%);
  color: #fff;
  box-shadow: none;
}

/* HEADER */

.header_logo {
  width: 80px;
  height: 80px;
}


/* images */
.img_curved {
  border-radius: 20px;
}