body.active-modal {
    overflow-y: hidden;
}


.btn-modal {
    font-size: 0.9rem !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
    padding: .5rem 1.5rem !important;
    cursor: pointer !important;
    min-width: 100px !important;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    padding: 14px 15px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 300px;
    z-index: 2;
}

.close-modal {
    margin: 1rem;
}

.modal_input_textfield {
    color: #111111;
}