.wave_exhibition {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 52%;
    height: auto;
    z-index: 1;
}

.globe {
    position: absolute;
    top: 0px;
    right: -10%;
    width: 60%;
    height: auto;
    z-index: 1;
}

.circle_text {
    border-radius: 25px;
    border: 1px solid #cecece;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    padding: 0.5em 1em;
    margin-bottom: 1rem;
}

.exhibition_topic_container {
    display: flex;
    justify-content: center;
    background-color: #F2F2F2;
    flex-direction: column;
    padding: 8rem 15%;
    gap: 2.5rem;
}

.exhibition_topic {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 1.2rem;
    border-radius: 52px;
    box-shadow: 0 10px 10px rgba(170, 170, 170, 0.55);

}

.exhibition23_speaker_list_item {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex_media {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.exhibition_speaker_left_container {
    width: 40%;
    background-color: #EBEBEB;
    border-radius: 25px;
    padding: 2rem;
}

.exhibition_speaker_right_container {
    width: 60%;
    background-color: #111;
    border-radius: 25px;
    padding: 2rem;
}

@media screen and (max-width: 768px) {
    .exhibition_topic {
        width: 85%;
    }

    .exhibition_topic_container {
        padding: 8rem 10%;
    }

    .exhibition_topic h4 {
        font-size: 1rem !important;
    }

    .flex_media {
        flex-direction: column;
    }

    .exhibition_speaker_left_container {
        width: 100%;
    }

    .exhibition_speaker_right_container {
        width: 100%;
    }

    h2 {
        font-size: 35px !important;
    }

    .wave_exhibition {
        width: 80%;
    }

    .globe {
        top: -160px;
        right: -100px;
        width: 90%;
    }
}




/* cardbox */
.card_box {
    border-radius: 20px;
    position: relative;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.55);
    cursor: pointer;
    transition: all .3s;
}

.card_box:hover {
    transform: scale(0.98);
}

.card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_box span::before {
    content: 'Premium';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144 51%, #ff7053 100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.23);
}

.card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
}