.background_cloud {
    position: absolute;
    width: 130rem;
    height: auto;
    left: -10rem;
    top: -40vh;
    z-index: -10;

}

.purple_gradient {
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 0px;
    left: 0;
    right: 0;
    z-index: -200;
    background: linear-gradient(to top, rgb(255, 255, 255), rgb(192, 132, 255), #A35AFF)
}