.item_top {
    height: 90px;
    padding: 5px;
    border-radius: 20px 20px 0 0;
}

.item {
    height: 90px;
    padding: 5px;
}

.item_bottom {
    height: 90px;
    padding: 5px;
    border-radius: 0 0 20px 20px;
}

.item_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    height: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.item_inner:hover {
    background-color: #F1F2F6;
    transform: scale(1.01);
}

.item_inner_active {
    background-color: #F1F2F6;
}