@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  text-decoration: none;
  cursor: pointer;
}

.header_item:hover {
  border-bottom: 2px solid #fff;
}

.gradient_blur_top {
  position: absolute;
  z-index: -10000;
  top: -5%;
  left: 10%;
  right: 0;
}

/* SECTIONS */
section {
  padding: 10rem 0;
}

/* BUTTONS */
.btn_white {
  width: 200px;
  background-color: white;
  color: black;
  border-radius: 10em;
  font-size: 17px;
  font-weight: 600;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #181818;
  box-shadow: 0 0 0 0 #181818;
}

.btn_white:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 2px 0 #181818;
}

.btn_white:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #181818;
}


.btn_transparent {
  width: 200px;
  background-color: transparent;
  border-radius: 10em;
  padding: 1em 2em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #ffffff;
  box-shadow: 0 0 0 0 #181818;
}

.btn_transparent:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 2px 0 #181818;
}

.btn_transparent:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 #181818;
}