.search_hero {
    padding: 20rem 0 15rem 0;
}

.search_hero-title {
    font-size: 8rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#f1f1f1, #0759f3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.search_description {
    font-size: 1.8rem;
    letter-spacing: .05rem;
    padding: 0 5rem;
    color: #cecece;
    text-align: center;
}

/* SERACH SERVICE */
.search_service_text {
    padding: 10rem 0;
}

.search_service_text h2 {
    font-size: 6rem;
    font-weight: bold;
    background: -webkit-linear-gradient(#f1f1f1, var(--color-bg));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.search_service_text p {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #cecece;
    text-align: center;
}

/* SEARCH INTERNET */
.search_internet {
    margin: 10rem 0;
}

.search_internet h2 {
    font-size: 5rem;
    font-weight: bold;
    text-align: center;
}

.search_internet_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
}

.search_internet_img img {
    width: 40%;
}

.search_internet p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #cecece;
    text-align: center;
}

/* MULTIPLE LANGUAGE */
.search_language {
    margin: 20rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 5rem;
}

.search_language h2 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 16%;
}

.search_language p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #cecece;
}

.search_language_img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_language_img img {
    width: 100%;
}

/* SEARCH REVENUE */
.search_revenue {
    margin: 20rem 0;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 8rem;
}

.search_revenue h2 {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 40%;
}

.search_revenue p {
    font-size: 1.6rem;
    font-weight: 500;
    color: #cecece;
    margin-top: 2rem;
}

.search_revenue_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -10rem;
}

.search_revenue_img img {
    width: 220vh;
    height: auto;
    margin-top: -50vh;
    margin-left: -15rem;
    margin-bottom: -20rem;
    margin-top: -28rem;
}

.search_revenue_desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SERACH FEATURE 2 */
.search_feature2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

/* SEARCH PROVIDE */
.search_provide_content {
    margin-top: 15rem;
}

.search_provide_content h2 {
    font-size: 5rem;
    font-weight: bold;
}

.search_provide_col {
    margin-top: 7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
}

.search_provide_card h3 {
    font-size: 2rem;
    margin-top: 1rem;
    font-weight: bold;
}

.search_provide_card p {
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #cecece;
}





/* MANAGEMENT SYSTEM */
.management_system_container {
    margin-top: 14rem;
}

.management_system_container h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 4rem;
}

.management_system_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.management_system_img img {
    width: 60%;
}




/* BACKEND SYSTEM */
.backend_system_container {
    margin-top: 12rem;
}

.backend_system_container h2 {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    padding: 4rem;
}

.backend_system_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.backend_system_img img {
    width: 70%;
}



/* )==============================MEDIA QUERIES (MEDIUM DEVICES)============================== */
@media screen and (max-width: 1024px) {}

/* )==============================MEDIA QUERIES (SMALL DEVICES)============================== */
@media screen and (max-width: 600px) {

    .search_hero {
        padding-top: 15rem;
        padding-bottom: 10rem;
    }

    .search_description {
        font-size: 1rem;
        padding: 0;
        text-align: center;
    }

    .search_hero-title {
        font-size: 3.5rem;
        text-align: center;
    }

    .search_service_text h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    .search_service_text p {
        font-size: 1.2rem;
        line-height: normal;
    }

    .search_revenue {
        margin: 5rem 0;
        display: inline-block;
        gap: 0;
    }

    .search_revenue h2 {
        font-size: 3rem;
    }

    .search_revenue p {
        font-size: 1.2rem;
    }

    .search_revenue_img img {
        width: 100%;
        margin: 0;
    }

    .search_language {
        display: inline-block;
        margin: 10rem 0;
    }

    .search_language h2 {
        font-size: 3rem;
        text-align: center;
    }

    .search_language p {
        font-size: 1.2rem;
        text-align: center;
    }

    .search_internet h2 {
        font-size: 3rem;
        text-align: center;
    }

    .search_internet_img img {
        width: 90%;
    }

    .search_internet p {
        font-size: 1.3rem;
        text-align: center;
    }

    .search_language_img {
        margin-top: 5rem;
    }

    /* search feature 2 */
    .search_feature2 {
        display: inline-block;
    }

    .ipick_feature_card {
        margin-bottom: 3rem;
    }

    .search_provide_content {
        display: inline-block;
    }

    .search_provide_content h2 {

        font-size: 3rem;
    }

    .search_provide_col {
        display: inline-block;
    }

    .search_provide_card {
        margin-bottom: 5rem;
    }

    .management_system_container h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        padding: 0;
    }

    .management_system_img img {
        width: 100%;
    }

    .backend_system_container h2 {
        font-size: 3rem;
        margin-bottom: 3rem;
        padding: 0;
    }

    .backend_system_img img {
        width: 100%;
    }
}