html {
    font-size: 18px;
}

body {
    margin: 0%;
}

body[bulb-temp='close'] {
    background-color: black;

    * {
        background-color: black !important;
    }
}

html * {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

html *,
::before,
::after {
    box-sizing: border-box
}

@media only screen and (min-width: 1442px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (min-width: 1068px) {
    body {
        margin: 0%;
    }
}

@media only screen and (min-width: 735px) {}