.login_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url("../../assets/login_bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem;
}

/* universe */
.container {
    position: relative;
    font-family: sans-serif;
}

.container::before {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    top: 30%;
    right: 7%;
}

.container::after {
    content: "";
    position: absolute;
    height: 3rem;
    top: 5%;
    right: 5%;
    border: 1px solid #cecece;
}

.container .box {
    width: auto;
    height: 30rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.074);
    border: 1px solid rgba(255, 255, 255, 0.222);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: .7rem;
    transition: all ease .3s;
}

.container .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container .box .title {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .1em;
    color: #fff;
    line-height: 150%;
}

.container .box div strong {
    display: block;
    margin-bottom: .5rem;
}



.container .box div span {
    font-size: .7rem;
    font-weight: 300;
    color: #fff;
}

.container .box div span:nth-child(3) {
    font-weight: 500;
    margin-right: .2rem;
}

.container .box:hover {
    box-shadow: 0px 0px 20px 1px #ffe1c23f;
    border: 1px solid rgba(255, 255, 255, 0.454);
}


/* BTN */
.btn_right_arrow {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
}

.btn_right_arrow .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_right_arrow .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
}

.btn_right_arrow .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
}

.btn_right_arrow:hover {
    background-color: var(--hover-color);
}

.btn_right_arrow:hover .arrow {
    background: var(--secondary-color);
}

.btn_right_arrow:hover .arrow:before {
    right: 0;
}