.lefttext {
  width: 317px;
  margin: 11rem auto;
  background-color: rgba($color: #fff, $alpha: 0.7);
  color: #fe2400;
  padding: 1rem;

  h1 {
      font-weight: 300;
      border-bottom: 0.1rem solid #fe2400
  }

  div {
      position: absolute;
      bottom: 4rem;
      width: 100%;
      left: 0;

      a {
          color: #ff5233;
          text-decoration: none;
          border: 2px solid #fe2400;
          border-radius: 10px;
          padding: .3rem;
      }
  }
}

.rightimage{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .ofFlex{
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    img {
      height: 75%;
    }

    div {
      color: wheat;
    }
  }
}

.body{
  width: 100%;

  >div {
    width: 100%;
    height: auto;
    margin: 0;
    
  }

  >div:nth-child(1){
    height: auto;
    margin-top: 2%;

    >div:nth-child(1){
      margin: 0 auto;
      width: 50%;
      height: 4rem;
      background-color: red;
      transform: skew(-20deg);
      display: flex;
      align-items: center;
      justify-content: center;

      >h1 {
        text-align: center;
        margin: 0;
        transform: skew(20deg);
        color: white;
      }
    }

    >div:nth-child(2){
      border-top-style: solid;
      border-color: red;

      >div {
        width: 100%;
        text-align: center;

        >div {
          width: 100%;
          display: flex;
          align-items: center;

          div{
            width: 50%;

            >h1{
              font-size: 2.5rem;
            }
            >p{
              border-bottom: 0.2vw solid #fe2400;
              width: 80%;
              margin: 0 auto;
              font-size: 1.5rem;
            }
          }
          
          >img{
            width: 50%;
          }
        }
      }
    }
  }

  >div:nth-child(2){
    background-image: url(../images/mobile/third/third_2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    margin-top: 0.1rem;

    >div:nth-child(1){
      display: none;
    }

    >div:nth-child(2){
      height: -webkit-fill-available;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      >div{
        color: #fafafa;
        text-align: center;

        >h1{
          margin: 0;
        }

        >h1:nth-child(1){
          display: none;
        }

        >h1:nth-child(2){
          display: block;
          font-size: 2.5rem;
          width: 80%;
          margin: 0 auto;
        }
        
        >div{
          display: grid;
          width: 50%;
          margin: 0 auto;          
          background-color: rgba(250, 250, 250, 0.3);
          border-radius: 10px;
          border:1px solid rgb(250, 250, 250);
          font-size: 1.5rem;

          >a{
            color: #f7f7f7;
            padding: 2%;
            text-decoration: none;
          }

          >a:nth-child(1){
            border-bottom:1px solid rgb(250, 250, 250);
            border-radius: 10px 10px 0 0;
          }

          >a:nth-child(1):hover{
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            background-color: #fe2400;
            color: #f7f7f7;
          }

          >a:nth-child(2){
            border-radius: 0 0 10px 10px;
          }

          >a:nth-child(2):hover{
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            background-color: rgb(111, 252, 165);
            color: #f7f7f7;
          }
        }
      }
    }
  }

  >div:nth-child(3){

    >img{
      width: 100%;
    }
  }

  >div:nth-child(4){
    display: none;
  }

  >div:nth-child(5){
    width: 100%;
    height: auto;
    text-align: center;

    >div:nth-child(1){
      height: auto;
      margin: 0 auto;
      position: relative;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      

      >div:nth-child(1){
        color: white;

        >h1{
          margin: 0;
          padding: 0 9%;
          height: 2rem;
        }
        >p{
          margin: 0;
          padding: 0 9%;
          height: 1.4rem;
        }
      }

      >div:nth-child(2){
        border: 1px solid red;
        display: none;
        >h6{          
          margin: 0;
          padding: 0 9%;
        }
      }
    }

    >div:nth-child(1)::before{
      content: '';
      position: absolute;
      background-color: #fe2400;
      width: 70%;
      height: 3.4rem;
      z-index: -1;
      transform: skew(-20deg);
    }
    
    >div:nth-child(2){
      height: auto;
      margin-left: 0%;
      color: black;
      text-align: start;

      >div{
        width: 70%;
        margin: 0 auto;

        >div{
          width: 100%;
          margin: 2% 0;

          >h1{
            margin: 2% 0;
            font-size: 2rem;

            >img{
              max-width: 1.3rem;
            }
          }

          >p{
            margin: 0;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1442px) {

}

@media only screen and (min-width: 1068px) {
  .body{
  
    >div {
      width: 100%;
      height: 35vw;
      margin: 5% 0;
      
    }
  
    >div:nth-child(1){
      height: auto;
      margin-top: 2%;
  
      >div:nth-child(1){
        margin: 0 auto;
        width: 50%;
        height: 4rem;
        background-color: red;
        transform: skew(-20deg);
        display: flex;
        align-items: center;
        justify-content: center;
  
        >h1 {
          text-align: center;
          margin: 0;
          transform: skew(20deg);
          color: white;
        }
      }
  
      >div:nth-child(2){
        display: flex;
        border-top-style: solid;
        border-color: red;
  
        >div {
          width: 33%;
          text-align: center;
  
          >div {
            width: 100%;
            display: block;
            >div{
              width: 80%;
              >p{
                border-bottom: 0.2vw solid #fe2400;
                width: 50%;
                margin: 0 auto;
              }
            }
            
            >img{
              width: 70%;
            }
          }
        }
  
        >div:nth-child(2){
          border-right: 0.2vw solid #fe2400;
          border-left: 0.2vw solid #fe2400;
          border-color: red;
          transform: skew(-15deg);
  
          >div{
            transform: skew(15deg);
          }
        }
  
      }
    }
  
    >div:nth-child(2){
      background-image: url(../images/third/third_5.png);
  
      >div:nth-child(1){
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
  
        >div{
          width: 80%;
  
          >h1{
            color: red;
            margin: 0%;
          }
  
          >div{
            display: flex;
            justify-content: flex-end;
  
            p{
              margin: 0;
            }
  
            >p{
              padding: 3px 2%;
              width: 30%;
              text-align: end;
            }
            >a{
              width: 26%;
              display: inline-flex;
              justify-content: center;
              position: relative;
              text-decoration: none;
              color: white;
            }
            >a::before{
              position: absolute;
              content: '';
              z-index: -1;
              width: 100%;
              height: 100%;
              background-color: #fe2400;
              transform: skew(-15deg);
              transition: transform 0.2s;
            }
            >a:hover::before{
              content: '';
              transform: skew(0deg);
              transition: transform 0.2s;
            }
          }
        }
      }
  
      >div:nth-child(2){
        width: 60%;
        height: auto;

        >div{ 

          >h1:nth-child(1){
            display: block;
          }

          >h1:nth-child(2){
            display: none;
          }
  
          >div{
            font-size: unset;
          }
        }
      }
    }
  
    >div:nth-child(3){
      background-image: url(../images/third/third_6.png);
      background-size: cover;
      background-position: center;

      >img{
        display: none;
      }
    }
  
    >div:nth-child(4){
      background-image: url(../images/third/third_7.png);
      background-size: cover;
      background-position: center;
      display: block;
      
      >img{
        display: none;
      }
    }
  
    >div:nth-child(5){
      background-image: url(../images/third/third_10.png);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: auto;
      color: #fafafa;
      position: relative;
      display: flex;
      margin-bottom: 0;
  
      >div:nth-child(1){
        width: 30%;
        height: auto;
        position: relative;
  
        >div:nth-child(1){
          position: absolute;
          top: 15%;        
          width: 100%;
  
          >h1{
            height: auto;
            font-size: 3rem;
          }
          >p{
            height: auto;
          }
        }
  
        >div:nth-child(2){
          display: block;
          position: absolute;
          bottom: 0;
          border: none;

          >h6{
            padding: 0 20% 0 4%;
          }
        }
      }
      
      >div:nth-child(2){
        width: 60%;
        height: auto;
        margin-left: 10%;
        color: black;
  
        >div{
          width: 80%;
          margin: 0 auto;
  
          >div{
            width: 100%;
            margin: 2% 0;
  
            >h1{
              margin: 2% 0;
              font-size: 1.8rem;
  
              >img{
                max-width: 1.2rem;
              }
            }
  
            >p{
              margin: 0;
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 735px) {

}