footer {
    margin-top: 5rem;
    width: 100%;
    bottom: 0;
    background-color: #1B1821;
    /* background: linear-gradient(to right, #2c2833, #1B1821); */
    color: #fff;
    padding: 3rem 3rem 1rem 3rem;
    border-top-left-radius: 125px;
    line-height: 20px;
}

footer a {
    color: var(--color-white);
}

.footer__logo {
    font-size: 1.6rem;
    font-weight: 500;
    padding-top: .5rem;
    text-align: center;
}

.contact_container {
    display: grid;
    grid-template-columns: 40% 60%;
    padding-bottom: 3rem;
}

.footer_menu {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    text-align: center;
}

.footer_menu p {
    color: #cecece;
}

.footer_menu p:hover {
    background: -webkit-linear-gradient(#cecece, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.col h3 {
    padding: .2rem;
    font-size: 1.1rem;
    width: auto;
    margin-bottom: 1rem;
    position: relative;
    font-weight: bold;
}

.col p {
    margin-top: .5rem;
    font-size: .9rem;
}


.footer__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer__socials__icons {
    display: flex;
    gap: 1rem;
}

.footer__socials a {
    background-color: #1B1821;
    /* background: linear-gradient(to right, #8B287B, #22305D); */
    color: var(--color-white);
    padding: .9rem 1rem;
    border-radius: 1rem;
    display: flex;
    font-size: 1.2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer__socials p {
    background-color: transparent;
    /* background: linear-gradient(to right, #8B287B, #22305D); */
    color: var(--color-white);
    padding: .8rem 1rem;
    border-radius: 2rem;
    text-align: center;

    font-size: .8rem;
    border: 1px solid var(--color-white);
    transition: var(--transition);
}

.footer__socials a:hover {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
    transition: var(--transition);
}

.footer__copyright {
    margin-top: 2rem;
    margin-bottom: .5rem;
    font-size: 1rem;
    color: var(--color-white);
    text-align: center;
}


/* )==============================MEDIA QUERIES (MEDIUM DEVICES)============================== */
@media screen and (max-width: 1024px) {}

/* )==============================MEDIA QUERIES (SMALL DEVICES)============================== */
@media screen and (max-width: 600px) {
    .contact_container {
        display: inline;
    }

    .footer__logo {
        font-size: 1.8rem;
        padding: 2rem 0;
    }

    .footer__socials {
        display: inline;
    }

    .footer__socials__icons {
        padding: 2rem 0rem;
        display: flex;
        justify-content: center;
    }

    .footer_menu {
        display: none;
    }
}