.hero {
    background-image: url('src/assets/retro_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 15rem 5rem;
    z-index: -1;
}



.tagline {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline img {
    width: 80%;
}





.hero_content_item {
    padding: 10rem 0;
}

.hero_content_col2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero_content_col2 img {
    width: 100%;
}

.hero_content_col3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FIND YOUR FAV BRANDS */
.tagline2_left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.tagline2_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagline2_left img {
    width: 400px;
}

.tagline2_right img {
    width: 900px;
}


/* BRANDS CAROUSEL */
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.curved-overlay-top {
    position: absolute;
    border-radius: 0 0 50% 50%;
    bottom: 95%;
    left: -50%;
    width: 200%;
    height: 500px;

}

.curved {
    display: flex;
    align-items: center;
    padding: 8rem 5rem;
    background-image: url('src/assets/arcade_bg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}

.curved_content {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    width: 60%;
    background-color: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    color: white;
}



.curved-overlay {
    position: absolute;
    border-radius: 50% 50% 0 0;
    left: -50%;
    width: 200%;
    height: 500px;
    top: 95%;
}

.gradient_blur_location {
    position: absolute;
    top: 20rem;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    z-index: -100000;
    height: 70%;
}