/* .taiwan_map {
    top: 30%;
    left: 35%;
    z-index: -10000;
}

.taichung_button {
    position: absolute;
    width: 100%;
    top: 55.2%;
    left: 47.3%;
    width: 12.3%;
    cursor: pointer;
} */


.map_intro {
    padding: 5rem;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.sea_bg {
    background: linear-gradient(145deg, #ECEBEC 50%, #708DF3 100%);
    z-index: -1000;
}

.map_list {
    padding: 0 5rem;
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 5%;
}

.taiwan_map {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 5rem;
}

.taiwan_map img {
    width: 100%;
}