.header__middle {
    z-index: 1;
}

.navBar .logo img {
    float: left;
    max-height: 120px;
}

.is-active {
    color: var(--color-white) !important;
}

.navBar .col-md-3 {
    z-index: 7;
}

ul.main-menu {
    display: inline-flex;
    list-style: none;
    margin: 0px auto 0;
    padding: 0;
    float: right;
    z-index: 7;
}

ul.main-menu>li.menu-item:first-child {
    padding-left: 0;
    margin-left: 0;
}

.menu-item {
    line-height: 23px;
}

li {
    list-style-type: none;
}

.menu-item a {
    font-size: 1rem;
    line-height: 40px;
    position: relative;
    display: block;
    color: var(--color-light);
    margin: 27px 17px;
    text-decoration: none;
    cursor: pointer;
}

.header__middle__logo {
    width: 20%;
    display: inline-block;
    margin-top: 1rem;
    float: left;
}

.header__middle__menus {
    width: 60%;
    display: inline-block;
    float: right;
}

.menu-item.menu__qqqitem a {
    margin: 27px 10px;
}

.header__middle {
    display: flex;
    width: 100%;
    float: left;
    position: relative;
}

.header__middle__logo>a>h1 {

    text-transform: uppercase;
    text-decoration: none;
    margin-top: 33px;
}

.active {
    /* color: var(--color-white) !important; */
    background: -webkit-linear-gradient(#cecece, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__middle__menus span.text {
    position: absolute;
    right: 177px;
    bottom: 10px;
    font-size: 1rem;
    color: var(--color-white);
}

.sub__menus__arrows {
    position: relative;
}

.sub__menus__arrows svg,
.sub__menus__arrows__full svg {
    padding-top: 0px;
    position: absolute;
    top: 13px;
}

.sub__menus {
    position: absolute;
    display: none;
    background: rgba(224, 220, 218, 0.05);
    border: var(--border);
    border-radius: var(--border-radius);
    overflow: hidden;
    border-color: var(--color-white);
    transition: height var(--speed) ease;
    width: 200px;
    left: -17px;
    padding: 1px 0 0 0;
    z-index: 1000;
    box-shadow: 0 10px 12px rgb(22 33 39 / 25%);
}

@media (max-width:767px) {
    .header__middle .active {
        color: var(--color-white) !important;
    }
}

@media (min-width:992px) {
    .sub__menus__arrows:hover .sub__menus {
        display: block;
    }

    .sub__menus__arrows__full:hover .sub__menus {
        display: block;
        z-index: 1000000;
    }
}

.menu-item .sub__menus a {
    padding: 7px 0 0px 0;
    margin: 7px 27px;
}

.menu-item:hover>a {
    background: -webkit-linear-gradient(#cecece, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-item .sub__menus li:hover a {
    background: -webkit-linear-gradient(#cecece, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__middle__logo img {
    max-width: 207px;
    margin: 17px 0 0 0;
}


@media(max-width:991px) {
    .header__middle__logo {
        width: 77%;
    }

    .header__middle__menus {
        width: 20%;
    }

    .header__middle__logo img {
        max-width: 150px;
        margin: 10px 0 0 0;
    }

    .main-nav .menubar__button:hover {
        background-color: var(--color-bg);
    }

    .main-nav .menu-item:hover>a {
        color: var(--color-white) !important
    }

    .main-nav .menubar__button {
        display: block !important;
        float: right;
        background-color: transparent;
        color: #fff;
        padding: 2px 5px;
        border-radius: 5px;
        margin: 27px auto 0;
        cursor: pointer;
        position: relative;
        z-index: 10037;
    }

    .main-nav .menubar__button svg {
        font-size: 27px;
    }

    .main-nav ul.menuq2 {
        display: block !important;
        position: absolute;
        left: 0;
        z-index: 10007;
        background-color: var(--color-bg);
        border-bottom: 3px solid var(--color-white);
        right: 0;
        padding-bottom: 17px;
        padding-top: 57px;
    }

    .main-nav .menu-item a {
        margin: 10px 17px;
        text-align: center;
        color: var(--color-light);
    }

    .main-nav ul.main-menu {
        display: none
    }

    .main-nav .sub__menus__arrows:hover .sub__menus {
        margin: 0 auto;
        left: 0;
        right: 0;
    }

    .sub__menus__Active {
        display: block !important;
        margin: 0 auto;
        background: var(--color-bg);
        left: 0;
        right: 0;
    }

    .sub__menus__Active2 {
        display: block !important;
    }

    .menus__categorysss {
        display: none;
    }

    .menus__categorysss2 {
        display: none;
    }

    .menu-item .sub__menus__full a {
        text-align: left;
    }

}